body{
    background: rgb(0, 0, 0);
}

.log{
    color: #ffffff;
    display: flex;
             justify-content: center;
            align-items: center;
            height: 50vh;
            text-align: center;
}