name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup GO
        uses: actions/setup-go@v4
        with:
          go-version: '1.22.0'

      - name: Build
        run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o ./build/main main.go

      - name: Copy static
        run: cp *.html ./build/ && cp -r assets/ ./build/ && cp -r img/ ./build/

      - name: Artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-files
          path: build/

  deploy:
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - name: Get artifact
        uses: actions/download-artifact@v3
        with:
          name: build-files
          path: build/

      - name: List builds
        run: ls -la build/*

      - name: Deploy
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_KEY }}
          ARGS: "-rltgoDzvO --delete"
          SOURCE: "build/"
          REMOTE_HOST: ${{ secrets.DEPLOY_HOST }}
          REMOTE_PORT: ${{ secrets.DEPLOY_PORT }}
          REMOTE_USER: ${{ secrets.DEPLOY_USER }}
          TARGET: ${{ secrets.DEPLOY_TARGET }}
